
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-center{
  display:flex;
  justify-content: center;
}

#screenShot{
  width: 100%;
  transition: all 300 ms;
  position: relative;
}

#screenShot:hover{
  transform: scale(2);
}
  
.sidebar{
  background-color: #3f51b5;
  color:'white'
}

.logo{
  width: '60px';
  height: '40px';
}

.eficiencia::before{
  content: "Eficiencia"; 
  color:black; 
  opacity: 0.8;
}

.eficiencia:hover::before{
  content: "";  
}

.eficiencia:hover::after{
  content: "Dias con visitas/Total dias laborales"; 
  color:blue;
  font-size: small;
}

.efectividad::before{
  content: "Efectividad";  
  color:black; 
  opacity: 0.8;
}

.efectividad:hover::before{
  content: "";  
}

.efectividad:hover::after{
  content: "Visitas del mes/Total campos"; 
  color:blue;
  font-size: small;
}

 .logoGlobalGap{
   width: 15%;
 }

 .textos{
  text-align: justify;
 }
 
 .font-tabla{
   font-size: 10px !important
  }